gopay:
    gopayId: ***
    gopaySecretKey: ******
    testMode: yes

    # Nastavení plateb
    payments:

        # List platebních kanálů
        channels:
            gopay: 'Gopay - Elektronická peněženka'
            card_gpkb: 'Platba kartou - Komerční banka, a.s. - Global Payments'

        # Umožňuje změnit platební kanál na straně GoPaz
        changeChannel: yes # no
