gopay:
	gopayId: 1234567890
	gopaySecretKey: fruC9a9e8ajuwrace4r3chaxu
	testMode: TRUE
	channels:
		eu_gp_u: Platba kartou - Česká spořitelna
		eu_bank: Běžný bankovní převod
		SUPERCASh: Terminál České pošty
		cz_kb: Platba KB - Mojeplatba
		sk_optb: [name: 'Platba OTP banka Slovensko, a.s.', logo: 'opt-logo.png']
